html, body {
    height: 100%;
}

#matchfield {
  height: 100%;
  width: 75%;
  float: left;
  background: darkgray;
  position: relative;
}

#menu {
  height: 100%;
  width: 25%;
  float: right;
  background: lightgray;
  padding: 10px;
}



/**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351 
 */
.circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24em;
  height: 24em;
  padding: 2.8em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
  border: dashed 1px;
  border-radius: 50%;
}

.circle-container a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%; left: 50%;
  width: 4em; 
  height: 4em;
  margin: -2em; /* 2em = 4em/2 */ /* half the width */
}

.circle-container img { 
  display: block; 
  width: 100%; 
}

/* this is just for showing the angle on hover */
.circle-container a:not(.center):before {
  position: absolute;
  width: 4em;
  color: white;
  opacity: 0;
  background: rgba(0,0,0,.5);
  font: 1.25em/3.45 Courier, monospace;
  letter-spacing: 2px;
  text-decoration: none;
  text-indent: -2em;
  text-shadow: 0 0 .1em deeppink;
  transition: .7s; /* only works in Firefox */
  content: attr(class)'°';
}

.circle-container a:hover:before { opacity: 1; }