@font-face {
    font-family: "Lohengrin";
    src: url("./fonts/lohengrin.ttf") format('truetype');
}
body {
    font-family: Lohengrin, Arial, sans-serif;
    background-color: #fceecd;
    background-image: url("../img/backgrounds/background_texture.png");
    background-repeat: space;
    color: #141414;
}
img{
    vertical-align: middle;
}
.button {
    color: #141414;
    /*font-size: unset;*/
    border: none;
    background-color: #fff0;
    background-image: url("../img/backgrounds/buttton3.png");
    background-size: 100% 100%;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    align-items: center;
    height: 50px;
    width: 100%;
}

.button:visited {
    color: #141414;
}

.button:hover {
    font-style: oblique;
    font-weight: bold;
    box-shadow: #282c34;
    filter: drop-shadow(3px -3px 3px #000);
}

.titleOwn {
    color: #69ff44;
    font-size: 40px;
}

#buyButtonTable {
    table-layout: fixed;
    float: left;
    width: 80%;
    left: 0;
}

#actButtonTable {
    table-layout: fixed;
    float: right;

    width: 15%;
    right: 0;

}

td, th {
    /* border: 1px s1lid black; */
    height: 100%;

}

.tableName {
    /*border: 1px solid black;*/
    text-decoration: underline black;
    width: 100px;
    text-align: center;
    font-size: 20px;
    display: inline-grid;
    align-items: center;

}

.subTableName{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    padding: 0 auto 0 auto;
}

.buttonArea {
    height: 10px;
    width: 60%;
    float: left;
}
.fieldArea{
    float: left;
}

.inventoryArea{
    float: right;
    height: 20%;
    width: 39%;
    text-align: center;
}

.logArea{
    float: right;
    height: 20%;
    width: 39%;
}

.itemIcon{
    width: 20px;
    height: 20px;
}

#hpBarText{
    position: absolute;
    color: black;
    width: 50%;
    left: 25%;
    font-family: Lohengrin, Arial, sans-serif;
    font-size: 25px;
}

#hpBar{
    text-align: center;
    width: 80%;
    margin: auto;
    position: relative;
    height: 50px;
    line-height: 50px;
}

#invTable{
    text-align: left;
    margin: 0 auto 0 auto;
    border: 1px solid black;
}

#invTable td{
	padding-right: 20px;
	padding-top: 3px;
}

.confirmDialog .ui-dialog-titlebar-close {
	display: none;
}

.confirmDialog .ui-dialog-titlebar {
	display: none;
}

.ui-dialog {
	padding: 0px !important;
}

.confirmDialog .ui-button {
	border-radius: 5px;
}

.confirmDialog .ui-widget-content {
	border: none;
}

.confirmDialog .ui-dialog-buttonpane {
	background-color: #F2F2F2;
}

.rankListArea {
    height: 10px;
    width: 60%;
    float: left;
}

#rankListTable{
    font-size: 30px;
    width: 100%;
}

#rankListTable th{
    text-align: center;
}

#rank{
    font-weight: bold;
    width: 10px;
}

#groupName{
}
