body {
    font-family: "DK Wild Bunch";
    background-color: #e1c09d;
}

.button {
    color: #000000;
    border: 1px solid black;
    background-image: url("../img/backgrounds/button2.jpg");
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 40px;
    width: 100%;
}

.button:visited {
    color: black;
}

.button:hover {
    font-style: oblique;
    font-weight: bold;
    box-shadow: #282c34;
}

.titleOwn {
    color: #69ff44;
    font-size: 40px;
}
#buyButtonTable{
    table-layout: fixed;
    width: 100%;

}

td,th {
   /* border: 1px s1lid black; */
    height: 100%;

}
 .tableName{
     text-align: center;
     font-size: 20px;
     width: 100%;
 }
 .buttonArea{
     height: 10px;
     width: 60%;
     border: 1px s1lid black;
 }

